<div class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {{notificationService.title}}
      </div>
      <div class="modal-body">
        {{notificationService.message}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>
